
<h1>Ordezkapen berria {{ herritarra.hauteskundea }} Hauteskundean</h1>

<p><strong>BAJA</strong> eman zaion herritarra</p>
<p><code>{{ herritarra.ident ~ ' ' ~ herritarra.nombre ~ ' ' ~ herritarra.apellido1 ~ ' ' ~ herritarra.apellido2 }}</code></p>
<p><code>DIST: {{ herritarra.dist }}, SECC: {{ herritarra.secc }}, MAHAIA: {{ herritarra.mesa }}</code></p>
<p><code>Kargua: {{ herritarra.cargofinal }}</code></p>

<hr>

<p><strong>ALTA</strong> eman zaion herritarra</p>
<p><code>{{ nextHerritarra.ident ~ ' ' ~ nextHerritarra.nombre ~ ' ' ~ nextHerritarra.apellido1 ~ ' ' ~ nextHerritarra.apellido2 }}</code></p>
<p><code>DIST: {{ nextHerritarra.dist }}, SECC: {{ nextHerritarra.secc }}, MAHAIA: {{ nextHerritarra.mesa }}</code></p>
<p><code>Kargua: {{ nextHerritarra.cargofinal }}</code></p>
