{% extends 'base.html.twig' %}

{% block title %}{{ "Hauteskundeak" | trans }}{% endblock %}

{% macro sortArrow(sortName, sort, sortDirection) %}
    {% if sort == sortName %}
        {% if sortDirection == 'asc' %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24"
                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 15l6 -6l6 6"></path>
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24"
                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 9l6 6l6 -6"></path>
            </svg>
        {% endif %}
    {% else %}
        <!-- up and down arrow svg -->
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4 text-slate-300" width="24" height="24"
             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
             stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8 9l4 -4l4 4"></path>
            <path d="M16 15l-4 4l-4 -4"></path>
        </svg>
    {% endif %}
{% endmacro %}

{% block body %}
    <div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="w-full mb-1">
            <div class="mb-4">
                <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
                    {% block page_title %} {{ "Hauteskundeak" | trans }} {% endblock %}
                </h1>
            </div>
            {% block page_header %}
                <form class="sm:pr-3"
                      action="{{ path('app_hauteskundea_index') }}"
                      method="GET"
                      data-controller="autosubmit"
                      data-turbo-frame="hauteskundea-list"
                      data-turbo-stream
                >
                    <div class="w-full max-w-8xl mx-auto mb-5">
                        <div class="border bg-gray-50 shadow-sm border-gray-200 dark:bg-gray-800 dark:border-gray-700 rounded-lg p-4 flex flex-col sm:flex-row items-center justify-between">
                            <div class="w-full sm:w-auto sm:flex">
                                <div class="relative w-full sm:w-48 md:w-64 lg:w-96 sm:mr-3 mb-3 sm:mb-0">
                                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                                             viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                    </div>
                                    <input
                                            type="search"
                                            name="query"
                                            value="{{ app.request.query.get('query') }}"
                                            aria-label="Bilatu"
                                            placeholder="Bilatu"
                                            class="bg-white border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            data-action="autosubmit#debouncedSubmit"
                                            autofocus
                                            autocomplete="off"
                                    >
                                </div>
                            </div>
                            <div class="items-center hidden sm:flex">
                                <twig:Button
                                        tag="a"
                                        href="{{ path('app_hauteskundea_new') }}"
                                        data-turbo-frame="modal"
                                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-primary-800"
                                >
                                    <span>{{ "Hauteskunde berria" | trans }}</span>
                                    {{ ux_icon('game-icons:vote', {'class':"icon icon-tabler icon-tabler-circle-plus inline"}) }}

                                </twig:Button>
                            </div>
                        </div>
                    </div>
                </form>
            {% endblock %}
        </div>
    </div>
    {% block hauteskundea_list_frame %}
        <turbo-frame id="hauteskundea-list" data-turbo-action="advance" class="aria-busy:opacity-50">
            <div class="flex flex-col">
                <div class="overflow-x-auto">
                    <div class="inline-block min-w-full align-middle">
                        <div class="overflow-hidden shadow">
                            <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600"
                                   id="crud-list">
                                <thead class="bg-gray-100 dark:bg-gray-700">
                                <tr>
                                    <th scope="col"
                                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                        <a class="fw-semibold mb-0" href="{{ path('app_hauteskundea_index', {
                                            ...app.request.query.all(),
                                            sort: 'id',
                                            sortDirection: sort == 'id' and sortDirection == 'asc' ? 'desc' : 'asc',
                                        }) }}"
                                           data-turbo-frame="hauteskundea-list"
                                        >
                                            # {{ _self.sortArrow('id', sort, sortDirection) }}
                                        </a>
                                    </th>
                                    <th scope="col"
                                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                        <a class="fw-semibold mb-0" href="{{ path('app_hauteskundea_index', {
                                            ...app.request.query.all(),
                                            sort: 'izena',
                                            sortDirection: sort == 'izena' and sortDirection == 'asc' ? 'desc' : 'asc',
                                        }) }}"
                                           data-turbo-frame="hauteskundea-list"
                                        >
                                            {{ "Izena" | trans }} {{ _self.sortArrow('izena', sort, sortDirection) }}
                                        </a>
                                    </th>
                                    <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                        {{ "Aktibo" | trans }}
                                    </th>
                                    <th scope="col"
                                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"></th>
                                </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                                {% for hauteskundea in hauteskundeas %}
                                    {{ include('hauteskundea/_row.html.twig') }}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sticky bottom-0 right-0 items-center w-full p-4 bg-white border-t border-gray-200 sm:flex sm:justify-between dark:bg-gray-800 dark:border-gray-700">
                <div class="flex items-center mb-4 sm:mb-0">
                    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ hauteskundeas | length }} erregistro </span>
                </div>
                <div class="flex items-center space-x-3">
                    {{ pagerfanta(hauteskundeas) }}
                </div>
            </div>
        </turbo-frame>
    {% endblock %}
{% endblock %}

{% block stream_success %}
    <turbo-stream action="replace" target="hauteskundea-list">
        <template>{{ block('hauteskundea_list_frame') }}</template>
    </turbo-stream>
{% endblock %}
