{% extends 'modalBase.html.twig' %}

{% block title %}{{ "Hauteskunde berria" | trans }}{% endblock %}

{% block body %}
    <div class="relative modal:m-0 modal:p-0  w-full max-h-full">
        <!-- Modal content -->
        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{{ "Hauteskunde berria" | trans }}</h3>
                <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                >
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="grid gap-4 mb-4">
                {{ include('hauteskundea/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}


{% block stream_success %}
    {{ include('_frameSuccessStreams.html.twig') }}

    <turbo-stream action="replace" target="hauteskundea-form">
        <template>
            {{ include('hauteskundea/_form.html.twig') }}
        </template>
    </turbo-stream>

    <turbo-stream action="prepend" targets="#crud-list tbody">
        <template>
            {{ include('hauteskundea/_row.html.twig') }}
        </template>
    </turbo-stream>
{% endblock %}
