<div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="col-span-2">
        <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
            <h3 class="mb-4 text-xl font-semibold dark:text-white">Ezarpenak</h3>
            {{ form_start(form) }}
                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        {{ form_row(form.izena) }}
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        {{ form_row(form.abizena) }}
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        {{ form_row(form.NA) }}
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        {{ form_row(form.displayname) }}
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        {{ form_row(form.mailfrom) }}
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        {{ form_row(form.mailto) }}
                    </div>

                </div>
            {{ form_end(form) }}
        </div>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
