{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NA</th>
                <th>Username</th>
                <th>Izena</th>
                <th>Abizena</th>
                <th>Displayname</th>
                <th>Email</th>
                <th>Saila</th>
                <th>Lanpostua</th>
                <th>Roles</th>
                <th>Mailfrom</th>
                <th>Mailto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.NA }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.izena }}</td>
                <td>{{ user.abizena }}</td>
                <td>{{ user.displayname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.saila }}</td>
                <td>{{ user.lanpostua }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.mailfrom }}</td>
                <td>{{ user.mailto }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
